<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Inicio</title>
</head>
<body>
    <header>
        <img src="static/images/INICIO.jpeg" alt="Logo SGSM">
        <div class="buttons">
            <button onclick="location.href='/Archivos/Manual.pdf'">Manual usuario</button>
            <button onclick="location.href='/Archivos/UML.html'">UML</button>
            <button onclick="window.location.href='/Archivos/Informe.pdf'" target="_blank">Informe</button>
            <button onclick="location.href='/ingresar'">Ingresar</button>
            <button onclick="location.href='/registrarse'">Registrarse</button>
        </div>
    </header>
    <div class="main-container">
        <h1>Aquí puedes gestionar y llevar el seguimiento de tus medicamentos o los de tus pacientes</h1>
        <ul class="features">
            <li><img src="static/images/chulos.jpeg" alt="Chulo">Gestión de medicamentos</li>
            <li><img src="static/images/chulos.jpeg" alt="Chulo">Alerta de medicación</li>
            <li><img src="static/images/chulos.jpeg" alt="Chulo">Seguimiento de las dosis</li>
            <li><img src="static/images/chulos.jpeg" alt="Chulo">Alertas por vencimiento de medicamentos</li>
        </ul>
        <img class="pills" src="static/images/pastas.jpeg" alt="Pastillas">
    </div>
    <footer>
        <img src="static/images/viejitos.jpeg" alt="Footer Imagen">
    </footer>
</body>
</html>
