<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <button onclick="location.href='/ingresar'">Ingresar</button>
    <button onclick="location.href='/registrarse'">Registrarse</button>
    <!-- Botón UML -->
    <button onclick="location.href='/Archivos/UML.html'">UML</button>
    <!-- Botón Informe -->
    <button onclick="window.location.href='/Archivos/Informe.pdf'" target="_blank">Informe</button>
    <!-- Botón Manual -->
    <button onclick="window.location.href='/Archivos/Manual.pdf'" target="_blank">Manual</button>
</body>
</html>
