<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGSM - Registrarse</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="register-page">
    <div class="container">
        <!-- Encabezado -->
        <div class="header-ingresar">
            <img src="C:\Users\sofia\Desktop\PROYECTO-FINAL-\templates\logoingreso.jpeg" alt="Logo Registrarse" class="logo-ingreso">
        </div>

        <!-- Formulario de Registro -->
        <div class="form-container">
            <h1>USUARIO:</h1>
            <input type="text" class="input-field" placeholder="Crea tu usuario">
            <h1>CONTRASEÑA:</h1>
            <input type="text" class="input-field" placeholder="Crea tu contraseña">
            <h1>CORREO ELECTRÓNICO:</h1>
            <input type="password" class="input-field" placeholder="Ingresa tu correo">
            <h1>ROL:</h1>
            <input type="password" class="input-field" placeholder="(Doctor, enfermero, paciente, ...)">
            <div class="login-footer">
                <span>Regístrate y procede con el manejo de tus medicamentos</span>
                <div class="buttons">
                    <button class="btn registrarse" onclick="window.location.href='usuario.html'">Registrarse</button>
                </div>                
            </div>
        </div>
    </div>
</body>
</html>
