<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGSM - Registrarse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="register-page">
    <div class="container">
        <!-- Encabezado -->
        <div class="header-ingresar">
            <img src="{{ url_for('static', filename='logoingreso.jpeg') }}" alt="Logo Registrarse" class="logo-ingreso">
        </div>

        <!-- Formulario de Registro -->
        <div class="form-container">
            <form method="POST" action="/registrarse">
                <h1>USUARIO:</h1>
                <input type="text" name="usuario" class="input-field" placeholder="Crea tu usuario" required>
                <h1>CONTRASEÑA:</h1>
                <input type="password" name="contraseña" class="input-field" placeholder="Crea tu contraseña" required>
                <h1>CORREO ELECTRÓNICO:</h1>
                <input type="email" name="correo" class="input-field" placeholder="Ingresa tu correo" required>
                <h1>ROL:</h1>
                <input type="text" name="rol" class="input-field" placeholder="(Doctor, enfermero, paciente...)" required>
                <div class="login-footer">
                    <span>Regístrate y procede con el manejo de tus medicamentos</span>
                    <div class="buttons">
                        <button type="submit" class="btn registrarse">Registrarse</button>
                    </div>                
                </div>
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
</body>
</html>
