/*INICIO*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #37586b;
    color: white;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 210px;
    height: auto;
    margin: 20px;
}

.buttons {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn.ingresar {
    background-color: #2a3d32;
    color: white;
}

.btn.registrarse {
    background-color: #e76f62;
    color: white;
}

.main {
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.main h1 {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.features {
    list-style: none;
    text-align: left;
    max-width: 1400px;
    margin: 0 auto 20px;
    padding: 0;
}

.features li {
    display: flex;
    align-items: left;
    margin-bottom: 15px;
    font-size: 20px;
}

.features li img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.pastas {
    width: 110px;
    height: auto;
    position: absolute;
    top: 200px;
    right: 50px;
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a3d32;
    padding: 1px;
    border-radius: 0px;
}

.footer-img {
    width: 60%;
    height: auto;
    margin-left: 0px;
}

.ver-mas {
    padding: 30px 20px;
    background-color: #2a3d32;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 35px;
    cursor: pointer;
    margin-right: 160px;
}

/* VER MAS */

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #37586b;
}

.info-box {
    background-color: white;
    color: #2a3d32;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.info-box h1 {
    font-size: 0px;
    margin-bottom: 15px;
}

.info-box p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.info-box .highlight {
    font-weight: bold;
    color: #2a3d32;
    margin-bottom: 20px;
    font-size: 13px;
    margin-right: 200px;
}

.manual-btn {
    padding: 10px 20px;
    background-color: #e76f62;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-left: 550px;
}

/*INGRESAR*/

body.login-page {
    background-color: white; /* Fondo blanco solo en la página de ingreso */
    color: #37586b; /* Ajusta el color del texto para mantener legibilidad */
}

.header-ingresar {
    text-align: center;
    margin-top: 20px;
}

.logo-ingreso {
    width: 1000px;
    height: auto;
    margin-bottom: 20px;
}

.form-container {
    text-align: center;
    margin: 50px auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    font-size: 25px;
    color: #37586b;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #37586b;
    border-radius: 5px;
    font-size: 16px;
    background-color: #2a3d32;
    color: white;
}

.input-field::placeholder {
    color: #a9a9a9;
}

.login-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.login-footer span {
    font-size: 14px;
    color: #37586b;
}

.btn-ingresar {
    padding: 10px 20px;
    background-color: #37586b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-ingresar:hover {
    background-color: #2a3d32;
}

/*REGISTRARSE*/

/* Estilos específicos para la página de registro */
body.register-page {
    background-color: white; /* Fondo blanco solo en la página de registro */
    color: #37586b; /* Color del texto */
}

.header-ingresar {
    text-align: center;
    margin-top: 20px;
}

.logo-ingreso {
    width: 1000px;
    height: auto;
    margin-bottom: 20px;
}

.form-container {
    text-align: left;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 4px 8px #e8e8e8;
}

.form-container h1 {
    font-size: 14px;
    color: #37586b;
    margin-bottom: 2px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #37586b;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e8e8e8;
    color: rgb(0, 0, 0);
}

.input-field::placeholder {
    color: #a9a9a9;
}

.login-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.login-footer span {
    font-size: 14px;
    color: #37586b;
}

.btn-ingresar {
    padding: 10px 20px;
    background-color: #37586b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-ingresar:hover {
    background-color: #2a3d32;
}
