<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGSM - Inicio</title>
        <link rel="stylesheet" href="styles.css">
    </head>
<body class="usuario-page">
    <div class="container">
        <!-- Encabezado -->
        <div class="header-ingresar">
            <img src="C:\Users\sofia\Desktop\PROYECTO-FINAL-\templates\logousuario.jpg" alt="Logo Usuario" class="logo-ingreso">
        </div>

        <div class="main">
            <h1>Bienvenid@ al Sistema de Gestión y Seguimiento de Medicamentos</h1>
            <ul class="features">
        </div>

        <!-- Contenedor de Información de Medicamentos y Seguimiento -->
        <table class="med-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for medicamento in medicamentos %}
                <tr>
                    <td>{{ medicamento['id'] }}</td>
                    <td>{{ medicamento['nombre'] }}</td>
                    <td>
                        <form action="/eliminar_medicamento" method="POST" style="display:inline;">
                            <input type="hidden" name="id" value="{{ medicamento['id'] }}">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        

        <!-- Botones de Acción -->
        <div class="action-buttons">
            <button class="btn-agregar">Agregar Medicamento</button>
            <button class="btn-modificar">Modificar Medicamento</button>
            <button class="btn-actualizar-stock">Actualizar Stock</button>
            <a href="index.html"><button class="btn-salir">Cerrar Sesión</button></a>
        </div>
    </div>
</body>
</html>
