<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGSM - Ver Más</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <!-- Contenedor Principal -->
        <div class="main-content">
            <div class="info-box">
                <h1>Sistema de Gestión y Seguimiento de Medicamentos</h1>
                <p>
                    El <strong>Sistema de Gestión y Seguimiento de Medicamentos</strong> permitirá a los profesionales de la salud y a los pacientes gestionar de manera efectiva la medicación, asegurando que los medicamentos se administren correctamente y que se pueda hacer un seguimiento adecuado de las prescripciones y los vencimientos.
                </p>
                <p>
                    Este sistema proporciona una alternativa innovadora para el control y la supervisión de la medicación, especialmente en un entorno en el que el manejo de grandes volúmenes de datos puede resultar un desafío o en el que para los pacientes es difícil tener presente todo el tiempo esta información. A través de este sistema, se busca ofrecer una herramienta tecnológica que sea accesible y eficiente, capaz de ser útil en diferentes entornos de atención médica y facilitar el trabajo de los profesionales de la salud.
                </p>
                <p class="highlight">
                    Si quieres aprender cómo funciona este sistema y aprender a manejarlo para sacarle el mejor provecho, te invitamos a leer el manual de usuario.
                </p>
                <button class="manual-btn">Manual de usuario</button>
            </div>
        </div>
    </div>
</body>
</html>
